@media (max-width: 1800px) {

  /* .header-nav {
    margin-right: 100px;
  } */
  .search {
    margin-left: 100px;
  }

  .search.active {
    margin-left: 10px;
  }

  .card-info {
    padding-left: 700px;
    padding-top: 85px;
    padding-bottom: 90px;
  }

  .card-info::before {
    width: 650px;
  }

  .contacts-container {

    align-items: flex-start;

    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 1600px) {

  .header-container {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 18px;
  }

  .header-logo {
    order: 1;
    margin-right: 0;
    padding-right: 0;
  }

  .header-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: center;
    order: 3;
  }

  .search,
  .search.active {
    margin-left: 0;
    order: 2;
  }

  .card-info {
    padding-left: 500px;
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .card-info::before {
    top: 35px;
    width: 470px;
    height: 350px;
  }
}

@media (max-width: 1300px) {
  .container {
    padding-left: 75px;
    padding-right: 75px;
    /* padding: 0 75px; */
  }



  .wrap {
    gap: 103px;
  }

  .card-info {
    width: fit-content;
    padding-left: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card-info::before {
    top: 10px;
    width: 350px;
  }

  .event-card {

    padding-left: 26px;
    padding-right: 26px;
  }

  .contacts-form {
    display: flex;
    gap: 20px;
  }

  .contacts-input {
    margin-right: 0px;
    padding: 25px 22px;
  }

  .contacts-button {
    padding: 12.7px 22px;
  }
}

@media (max-width: 1150px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;

  }

  section {
    margin-bottom: 70px;
  }

  .header-container {
    padding-top: 32px;
    padding-bottom: 23px;
    gap: 24px;
  }

  .about-container {
    padding-top: 10px;
  }

  .titlepage-container {
    padding-top: 104px;
    padding-bottom: 122px;
  }

  .titlepage-text {
    margin-bottom: 156px;
  }

  .container-gallery {
    padding-top: 82px;
    padding-bottom: 79px;
  }

  .catalog-container {
    padding-top: 11px;
  }

  .catalog-block {
    margin-bottom: 38px;
  }

  .catalog-list {
    gap: 31px;
  }

  .card-info {
    padding-left: 0;
    padding-top: 609px;
  }

  .card-info::before {
    max-height: 579px;
    width: 100%;
    height: 100%;
  }

  .events-container {
    padding-top: 24px;
  }

  .event-list {
    flex-wrap: nowrap;
    --bs-gutter-x: 1.8rem;
  }

  .event-date {
    margin-bottom: 4px;
    text-align: end;
    align-self: flex-end;
  }

  .event-card {
    padding-left: 34px;
    padding-right: 33px;
  }

  .event-text {
    margin-bottom: 16px;
  }

  .event-img::after {
    height: 200px;
  }

  .event-card {
    padding-top: 215px;
  }

  .progects-container {
    padding-top: 22px;
  }

  .progects-text {
    margin-bottom: 18px;
  }

  .wrap {
    align-items: flex-start;
    flex-direction: column;
    gap: 29px;
    height: 100%;
  }

  .slides {

    height: 275px;
    background-size: 275px 275px;
  }


  .contacts {
    margin-bottom: 38px;
  }

  .contacts-container {
    padding-top: 55px;
    gap: 33px;
  }

  .contacts-button {
    padding: 12.7px 44px;
  }

  .contacts-massenger__title {
    margin-bottom: 4px;
  }

  .footer-container {
    padding-top: 39px;
    padding-bottom: 38px;
  }

  .footer-img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 1023px) {
  .header-list {
    gap: 50px;
  }

  .contacts-form {
    flex-wrap: wrap;
  }
}

@media (max-width: 990px) {
  .titlepage-container {
    padding-top: 90px;
    padding-bottom: 109px;
  }

  .titlepage-text {
    margin-bottom: 153px;
  }

  .titlepage-btn {
    padding: 24px 35px;
  }

  .event-list {
    flex-wrap: wrap;
    gap: 53px;
  }

  .header-list {
    width: 100%;
    gap: 25px;
    justify-content: space-between;
  }

  .about-container {
    padding-top: 10px;
    padding-bottom: 32px;
  }

  .slides {
    height: 200px;
    background-size: 200px 200px;
  }

  .card-info::before {
    /* width: 974px; */
    max-height: 419px;
  }

  .card-info {
    padding-left: 0;
    padding-top: 450px;
  }

  .catalog-list {
    gap: 23px;
  }

  .events-container {
    padding-top: 42px;
  }

  .progects-container {
    padding-top: 7px;
  }

  .progects-text {
    margin-bottom: 60px;
  }

  .progects-item {
    display: flex;
    justify-content: center;
  }

  .contacts-container {

    gap: 26px;
  }

  .contacts-input {

    width: 320px;
  }

  .contacts-name {
    margin-bottom: 13px;
  }

  .contacts-container {
    padding-top: 75px;
  }

  .contacts {
    margin-bottom: 26px;
  }

  .footer-container {
    padding-top: 49px;
  }

  .footer-img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 676px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .scroller {
    overflow-y: hidden;
    background-color: var(--color-blue);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .scroller-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
  }

  .scroller-item {
    color: var(--color-background);
    display: flex;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
  }

  .scroller-item:not(:last-child):hover {
    border-right: 1px solid var(--color-background);
  }

  .scroller-item_active {
    background-color: #fff59d;
  }

  .titlepage-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .title {
    margin-bottom: 18px;
    font-size: 32px;
    line-height: 28px;
  }

  .text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
  }

  .titlepage-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titlepage-text {
    margin-bottom: 85px;
  }

  .titlepage-btn {
    padding: 12px 15px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
  }

  .about-title {
    font-size: 28px;
    line-height: 45.37px;
  }

  .about-text {
    font-size: 14px;
    line-height: 28px;
  }
}

@media (max-width: 576px) {
  .header-container {
    padding-top: 13px;
    padding-bottom: 3px;
    gap: 1px;
  }

  .scroller-item {

    padding: 0.5rem 0.25rem;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  section {
    margin-bottom: 50px;
  }

  .header-logo {
    width: 97px;
    height: 22px;
  }

  /* .header-btn svg {
    width: 18px;
    height: 8px;
  } */
  .search .icon::before {
    width: 18px;
    height: 8px;
  }

  .header-link {
    color: var(--color-title-white);
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
  }

  .header-list {
    gap: 17px;
  }

  .slider {
    flex-direction: column;
    align-items: center;
  }

  .slides {
    height: 290px;
    background-size: cover;
  }

  .titlepage-title {
    margin-bottom: 3px;
  }

  .titlepage-text {
    margin-bottom: 23px;
    font-size: 13px;
    line-height: 22px;
  }

  .titlepage-btn {
    padding: 12px 22px;
  }

  .about-container {
    padding-top: 0px;
  }

  .about-text {
    font-size: 14px;
    line-height: 28px;
  }

  .about-title {
    margin-bottom: 5px;
  }

  .container-gallery {
    padding-top: 4px;
    padding-bottom: 49px;
  }

  .catalog-block {
    margin-bottom: 57px;
  }

  .card-info::before {
    background-size: cover;
    height: 181px;
  }

  .card-info {
    padding-top: 215px;
  }

  .catalog-container {
    padding-top: 6px;
  }

  .catalog-list {
    gap: 8px;
  }

  .card-biography {
    margin-bottom: 0;
  }

  .events-container {
    padding-top: 18px;
  }

  .event-card {
    padding-left: 24px;
    padding-right: 23px;
  }

  .event-date,
  .event-date span {
    color: #999999;
    font-weight: 400;
  }

  .event-text {
    margin-bottom: 48px;
  }

  .progects-title-small {
    font-size: 19px;
  }

  .progects-item {
    padding: 23px 53px;
    outline: 1px solid #cacaca;
  }

  .row {
    --bs-gutter-x: 0;
  }

  .contacts {
    margin-bottom: 37px;
  }

  .contacts-container {
    padding-top: 20px;
    gap: 10px;
  }

  .contacts-input {
    margin-right: 0;
    padding: 21px 23px;
    width: 290px;
  }

  .contacts-button {
    display: none;
  }

  .contacts-button-small {
    display: block;
    outline: 1px solid var(--color-text);
    padding: 5.7px 28px;
    border-radius: 24px;
    outline: 2px solid #9D5CD0;
    color: #9D5CD0;
    font-size: 16px;
    line-height: 24.51px;
    font-weight: 700;
  }

  .contacts-massenger {
    padding-top: 11px;
  }

  .contacts-img {
    width: 50px;
    height: 50px;
  }

  .contacts-massenger__title {
    margin-bottom: 7px;
    color: var(--color-text);
    font-size: 17px;
    line-height: 35px;
  }

  .footer-img {
    width: 50px;
    height: 50px;
  }

  .contacts-name {

    font-size: 18px;
    line-height: 21px;
  }

  .progects-container {
    padding-top: 49px;
  }

  .footer-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-container {
    flex-direction: column;
    gap: 16px;
  }

  .footer-logo {
    width: 97px;
    height: 22px;
    order: 2;
  }

  .footer-cocialmedia {
    order: 1;
  }
}
